@import '../../styles/variables.css';

body {
  margin: 0;
  font-family: 'Ubuntu', system-ui;
}

.HomeLayout {
  background: var(--primary-color);
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;

  @media (--viewport-medium) {
    grid-template-columns: auto;
  }
}

:--headings {
  color: var(--default-gray);
}
