/* FIXME: Fix alias. */
@import '../../styles/variables.css';

.media {
  cursor: pointer;
  vertical-align: top;
  width: 260px;
}

.media:hover .media__title {
  color: var(--primary-color);
}

.media:hover .media__cover {
  box-shadow: 0 0 10px var(--primary-color);
}

.media__cover {
  transition: .3s;
  box-shadow: 0 0 5px var(--primary-color);
  height: 160px;
}

.media__image {
  object-fit: cover;
}

.media__title {
  margin: 5px 0 0 0;
  color: #44546b;
  white-space: normal;
}

.media__author {
  font-size: 12px;
  margin: 5px 0 0 0;
}
